# --- Visual Studio ---
.vs/
.vscode/

# --- Python (Cache i pliki skompilowane) ---
__pycache__/
*.py[cod]
*.so

# --- Środowiska wirtualne ---
venv/
.venv/
env/

# --- Dane i Wyniki (Ignorujemy media i logi, żeby śledzić tylko kod .py) ---
*.mp4
*.avi
*.png
*.jpg
*.jpeg
*.csv
*.log

# --- Systemowe ---
.DS_Store
Thumbs.db